#login .navBar {
  background-color: #3296fa;
  height: 76px;
}
#login .title {
  color: #fff;
}
#login .form {
  padding: 10px;
}
#login .form .formItem {
  display: flex;
  height: 92px;
  align-items: center;
}
#login .form .yzm {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #ededed;
  color: #666666;
  border: none;
}
